@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/estedad@v4.0.2/Estedad-font-face.css');
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #142B4A;
    color: #EAF1F6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Estedad', sans-serif;
  }
}

.font-quote {
  font-family: 'Shabnam', sans-serif;
}